 <header>
        <H1 id="CentroMedico">CENTRO MÉDICO JEAN RODRÍGUEZ</H1>
    </header>
    <main>
        <h2>Listado de pacientes</h2>
        <table border="solid">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apelliddos</th>
                    <th>Número de cédula</th>
                    <th>Fecha de nacimiento</th>
                    <th>Teléfono</th>                
                </tr>
            </thead>
            <tbody id="cuerpo-tabla-pacientes">
                <!--Acá se agrega el contenido dinámicamente por medio de Handlebars-->
                {{#each resultado}}
                <tr>
                    <td> {{nombres}} </td>
                    <td> {{apellidos}} </td>
                    <td> {{cedula}} </td>
                    <td> {{formatoFecha fecha_nacimiento}} </td>
                    <td> {{telefono}} </td>                    
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main><br>
    <a href="../index.html"><input type="button" value="Volver al inicio"></a>


    <footer id="footer-dos">
        <h2>Realizado por:</h2>
        <p>Jean Paul Rodrígez Valencia</p>
    </footer>